<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cryinrabbit.whatareyoudoingplanner"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
  <uses-feature android:name="android.hardware.camera.autofocus" />
  <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
  <uses-feature android:name="android.hardware.camera"/>
  <uses-feature android:name="android.hardware.screen.landscape"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cryinrabbit.whatareyoudoingplanner.LoginScreenActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
               
		<activity
            android:name="com.cryinrabbit.whatareyoudoingplanner.WaydActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName="com.cryinrabbit.whatareyoudoingplanner.LoginScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
        		<category android:name="android.intent.category.DEFAULT" />
        		
            </intent-filter>
        </activity>
        
        <activity android:name="com.cryinrabbit.whatareyoudoingplanner.EventPagerActivity"
           		  android:configChanges="orientation"
                  android:screenOrientation="portrait"
        		  android:label="@string/app_name"
        		  android:parentActivityName="com.cryinrabbit.whatareyoudoingplanner.WaydActivity">
        
    
        </activity>
        
         <activity android:name="edu.sfsu.cs.orange.ocr.CaptureActivity"
              android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:windowSoftInputMode="stateAlwaysHidden" 
              android:parentActivityName="com.cryinrabbit.whatareyoudoingplanner.WaydActivity"  >           
              </activity>
     
    
    <activity android:name="edu.sfsu.cs.orange.ocr.HelpActivity"
              android:screenOrientation="user">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
      </intent-filter>
    </activity>
    
    <activity android:name="edu.sfsu.cs.orange.ocr.PreferencesActivity" />
    
            <activity android:name="com.blundell.tut.ui.phone.MainActivity"
              android:screenOrientation="landscape"
              android:configChanges="orientation|keyboardHidden|screenSize"
              android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
              android:windowSoftInputMode="stateAlwaysHidden" 
              android:parentActivityName="com.cryinrabbit.whatareyoudoingplanner.WaydActivity"  >           
              </activity>
       
        <activity android:name="com.blundell.tut.ui.phone.SecondActivity" />
        <service android:name="com.blundell.tut.service.ScheduleService" />
        <service android:name="com.blundell.tut.service.NotifyService" />
            
        
        <activity
            android:name="com.manishkpr.viewpagerimagegallery.MainActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>
    
    <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
